*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}
.front{
    background-color: black;
    opacity: 0.5;
    right: 0;
    bottom: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;

}
.wrap{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
}
.box00{
    position: absolute;
    width: 100%;
    padding-top: 2px;
    text-align: center;
  
    top: 100px;
}
.box01{
    position: absolute;
    width: 100%;
    padding-top: 184px;
    text-align: center;

    top: 100px;
}
.box02{
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-align: center;
    padding-top: 500px;
    
}
.box03{
    position: absolute;
    width: 80%;
left: 65px;
top:180px;
width: 30%

}
body {
    position: relative; /* 부모 요소가 없을 경우 body에 설정 */
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.b01{
    width: 100%;
    height: 1331px;
    background-color:#001621;
}
.line {
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
    height: auto;
    width: 160%;
    top: 50px;
}
.logo {
    position: absolute;
    top: 15px;
    left: 50%; 
    transform: translate(-50%, 0); 
    z-index: 3; 
    width: 30%; 
    height: auto; 
}
.ir {
    position: absolute;
    top: 100px;
    left: -10%; 
    transform: translate(-50%, 0); 
    z-index: 3; 
    width: 120%; 
    height: auto; }
.m {
    position: absolute;
    top: 370px;
    left: 10%; 
    transform: translate(-50%, 0); 
    z-index: 4; 
    width: 80%; 
    height: auto; 
}
.b02{
    width: 100%;
    height: 2523px;
    background: radial-gradient(circle, #00212b 20%, #000000 100%);
}
.line2 {
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
    height: auto;
    width: 140%;
    top: 50px;
}
.mid{
    position: absolute;
    top: 2px;
    left: 50%; 
    transform: translate(-50%, 0); 
    z-index: 4; 
    width: 100%; 
    height: auto; 
}
.mid{
    position: absolute;
    top: 40px;
    left: 50%; 
    transform: translate(-50%, 0); 
    z-index: 5; 
    width: 150%; 
    height: auto; 
}
.b03{
    width: 100%;
    height: 841px;
}
.line4 {
    position: absolute;
    top: 40px; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
    height: auto;
    width: 100%;
    top: 50px;
}
.pvp{
      position: absolute;
    top: 20px;
    left: 50%; 
    transform: translate(-50%, 0); 
    z-index: 4; 
    width: 30%; 
    height: auto; 
}
.summ{
    position: absolute;
    top: 150px;
    left: 17%; 
    transform: translate(-50%, 0); 
    z-index: 4; 
    width: 65%; 
    height: auto; 

}
.ara{
    position: absolute;
    top: 520px;
    left: 17%; 
    transform: translate(-50%, 0); 
    z-index: 4; 
    width: 65%; 
    height: auto; 
}
.b04{
    width: 100%;
    height: 747px;
}
.ji{
    position: absolute;
    top: 45px;
    left: 10%; 
    transform: translate(-50%, 0); 
    z-index: 4; 
    width: 80%; 
    height: auto; 
}